@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

body{
  min-width: 320px;
  min-height: 100%;
  background: rgb(46, 45, 45);
  color: aliceblue;
  font-size: 1rem;
}

a { 
  all: unset;
  cursor: pointer;
}

.header{
  display: flex;
  width: 100%;
  position: fixed; 
  top: 0; 
  border-bottom: 1px solid brown;
  z-index: 100;
  background: rgb(46, 45, 45);
}

.header-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
    align-items: center;
    margin: 25px;
    gap: 25px;
    
}

.header-left,
.header-right{
  display: flex;
  flex-basis: 50%;
  gap: 30px;
  align-items: center;
}

.header-right{
  justify-content: end;
}

.header-item{
  gap: 30px;
}

.header-social{
  display: flex;
  gap: 25px;
}

.social-item-link img{
  width: 25px;
  height: 25px;
}

.header-call{
  color: brown;
    padding: 9px 17px;
    border: 2px solid brown;
    background: transparent;
    cursor: pointer;
    font-weight: 700;
}

.header-call:hover{
  color: #fff;
  border: 2px solid brown;
 transition: 0.3 linear;
}

.main{
  display: flex;
  min-height: 100vh;
  margin-top: 90px;
  width: 100%;
  position: relative; 
}

.main-text{
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.main-text h1 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  text-shadow:
    1px 1px 2px black,
    0 0 1em red,
    0 0 0.2em red;
}

.video-wrapper{
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgb(155 20 7 / 55%);
  mix-blend-mode: overlay;
}
.video-wrapper video{
  object-fit: cover;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  visibility: hidden;
}
.advantages,
.service{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.section-title{
  margin: 20px auto;
  border-bottom: 1px solid brown;
}

.advantages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(46, 45, 45);
  height: auto;
}

.advantages-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
} 
.advantages-container{
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.advantage-card {
  position: relative;
  height: 250px;
  background: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
  color: rgb(46, 45, 45);

}


.imgBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.imgBox img{
  max-width: 100px;
  transition: 0.5s ease-in-out;
}

.advantage-card:hover .imgBox{
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background: brown;
}

.advantage-card:hover .imgBox img{
  max-width: 75px;
}

.imgBox::before{
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 6em;
  color: rgba(255, 255, 255, .05);
  font-weight: 700;
}
.advantage-content{
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.advantage-content h3{
  margin-bottom: 5px;
  font-size: 24px;
}
.advantage-content a{
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #333;
  color: #fff;
}

@media (max-width: 992px){
  .advantages-container{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .advantage-card{
    width: 400px;
  }
}
@media (max-width: 768px){
  
  .advantage-card{
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }
  .imgBox{
    position: relative;
  }
  .imgBox,
  .advantage-card:hover .imgBox{
    width: 100%;
    height: 200px;
    left: 0;
  }
  .imgBox img,
  .advantage-card:hover .imgBox img{
    max-width: 100px;
  }
  .advantage-content{
    position: relative;
    width: 100%;
  }
}


/* start */
/* .service{
  display: flex;
  height: 100vh;
  background: #fff;
  width: clamp(600px, 100%, 1800px );
  padding: 60px 30px;
  flex-direction: column;
  text-align: center;
  margin: 0 auto 40px;
  align-items: center;
  color: brown;
}

  

.service h2{
  margin: 0 auto 25px;
}

.service-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

.service-cards {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
   
}

.service-card {
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 500px auto;
  background-repeat: no-repeat;
}

.service-container .before {
  background-image: url('assets/img/interior-before.jpeg');
}
.service-container .after {
  background-image: url('assets/img/interior-after.jpeg');
  width: 50%;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 241, 0.3);
  outline: none;
  margin: 0;
  transition: all .2s;
  z-index: 10;
  opacity: 0;
  
} */

 /* end */

/* .slider:hover {
  background: rgba(242, 242, 241, 0.1); 
} */
/* .slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 3px;
  height: 246px;
  background: #e7e1e1;
  cursor: pointer;
} */

/* .slider-line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background: rgb(46, 45, 45);
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  box-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
}


@media (max-width: 1250px){
  .service-cards {
    grid-template-columns: repeat(2, 1fr);     
  }
} */

.service-container{
  display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    height: auto;
    margin: 0 auto 20px;
}

.service {
    display: grid;
    place-items: center;
}

.service-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    background-size: cover;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
                0 2px 2px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1), 0 8px 8px rgba(0,0,0,0.1),
0 16px 16px rgba(0,0,0,0.1);
}

@media (min-width: 600px) {
  .card {
      height: 350px;
  }
}

.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

.service-title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.service-btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

@media (min-width: 600px) {
  .service-content{
    grid-template-columns: repeat(2, 1fr);   
  }
  
}

@media (min-width: 800px) {
  .service-content{
    grid-template-columns: repeat(4, 1fr);   
  }
}


.service-btn:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

.service-btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .content > *:not(.service-title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;

        .card:before {
            transform: translateY(-4%);
        }
        .card:after {
            transform: translateY(-50%);
        }

        .content {
            transform: translateY(0);
        }

        .content > *:not(.service-title) {
            opacity: 1;
            transform: translateY(0);
            transition-delay: calc(var(--d) / 8);
        }
    }

    .card:focus-within {
        .card:before,
        .card:after,
        .content,
        .content > *:not(.service-title) {
            transition-duration: 0s;
        }
    }
}